

<div class="row">
  <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
  <div class="col-lg-6">
    <div class="p-5">
      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Book For a Car wash Service!</h1>
      </div>

      <div class="alert alert-warning" *ngIf="invalidBooking" role="alert">
        <strong>{{ErrorMessage}}</strong>
      </div>
      <form class="user" action="post" [formGroup]="insertForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <span *ngIf="searchTerm.touched && searchTerm.errors" class="errorMessage">
            <span *ngIf="searchTerm.hasError('required')">Please search for Car wash name is required</span>
        </span>
        <mat-form-field  appearance="outline" class="booking-search-bar" >

            <!-- ADD AN INPUT BOX OF TYPE TEXT AND LINK IT TO THE AUTO COMPLETE PANEL. -->
            <input #input class="form-full-width float-sm-left" type="text" placeholder="Search For Car wash..."
                matInput
                [formControl]="searchTerm"
                [matAutocomplete]="auto"
                [(ngModel)] = "selectedBusiness"
                required autofocus/>

            <!-- CREATE AUTO COMPLETE PANEL WITH OPTIONS. -->
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let business of businessList.list" [value]="business.name">
               {{ business.name }}
              </mat-option>
            </mat-autocomplete>

        </mat-form-field>
        </div>
        <div class="form-group">
          <input type="date" class="form-control form-control-user" formControlName="Date" placeholder="Booking Date" required autofocus>
          <div *ngIf="Date.touched && Date.errors" class="errorMessage">
              <span *ngIf="Date.hasError('required')">Date is required</span>
            </div>
        </div>
        <div class="form-group">
          <input type="time" class="form-control form-control-user" formControlName="Time" placeholder="Booking Time" required autofocus>
          <div *ngIf="Time.touched && Time.errors" class="errorMessage">
              <span *ngIf="Time.hasError('required')">Time is required</span>
            </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control form-control-user" formControlName="Contact" placeholder="Contact Number" required autofocus>
          <div *ngIf="Contact.touched && Contact.errors" class="errorMessage">
              <span *ngIf="Contact.hasError('required')">Contact is required</span>
            </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control form-control-user" formControlName="Name" placeholder="Full Name" required autofocus>
        </div>
        <input class="btn btn-primary btn-user btn-block" type="submit" value="Submit" [disabled]="insertForm.invalid"/>
      </form>
      <hr>
      <div class="text-center">
        <a style="color: red;" class="small" [routerLink]="['/support']">Contact Us Here!</a>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait... </p>
</ngx-spinner>
