<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
    <div class="col-lg-6">
      <div class="p-5">
        <div class="text-center">
            <a class="sidebar-brand d-flex align-items-center justify-content-center logo" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                  <i  style="color: #3366cc;" class="fas fa-car fa-5x"></i>
                </div>
                <div class="sidebar-brand-text mx-3"><h3>My Dealership <sup>2</sup></h3></div>
              </a>
          <p class="mb-2 langing-page-text"><b>
            With hundreds of new and used makes and models to choose from, AutoTrader is South Africa's leading marketplace for buying and selling new and used cars, bakkies and SUV’s. Our interactive website makes buying and selling cars fast, intuitive and reliable.
            Buying your ideal car has never been easier. AutoTrader allows you to search and compare cars to ensure you find a car that meets your needs and fits your budget.
            </b></p>


        </div>

        <hr>
        <div class="text-center">
          <a class="small" [routerLink]="['/login']"><b>Already have an account? Login!</b></a>
        </div>
      </div>
    </div>

  </div>

