    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Password Reset</h1>
    </div>
      <div class="col-lg-12">
            <form class="user" action="post" [formGroup]="insertForm" (ngSubmit)="onSave()">
                  <div class="card shadow mb-12">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Change Password</h6>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-danger" *ngIf="invalidPassword" role="alert">
                            <ul>
                            <li *ngFor="let error of errorList">
                                <strong>{{ error }}</strong>
                            </li>
                            </ul>
                        </div>
                        <div  *ngIf="isSuccessful" class="alert alert-success"  role="alert">
                          <strong>{{ successMessage }}</strong>
                        </div>
                <div class="table-responsive">
                        <table class="table-striped"  cellspacing="0" width="100%">
                            <tr>
                                <td>Current Password</td>
                                <td>
                                    <input ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" formControlName="CurrentPassword" name="CurrentPassword" class="form-control float-sm-left" type="password" placeholder="CurrentPassword..." />
                                    <div *ngIf="CurrentPassword.touched && CurrentPassword.errors" class="errorMessage">
                                      <span *ngIf="CurrentPassword.hasError('required')">Current password is required</span>
                                    </div>
                                  </td>
                            </tr>
                            <tr>
                                    <td>New Password</td>
                                    <td>
                                        <input ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" formControlName="Password" name="Password" class="form-control float-sm-left" type="password" placeholder="Password..." />
                                        <div *ngIf="Password.touched && Password.errors" class="errorMessage">
                                          <span *ngIf="Password.hasError('required')">Password is required</span>
                                        </div>
                                      </td>
                                </tr>
                                <tr>
                                        <td>Confirm New Password</td>
                                        <td>
                                            <input ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" formControlName="RepeatPassword" name="RepeatPassword" class="form-control float-sm-left" type="password" placeholder="Confirm Password..." />
                                            <div *ngIf="RepeatPassword.touched && RepeatPassword.errors" class="errorMessage">
                                              <span *ngIf="RepeatPassword.hasError('required')">password is required</span>
                                            </div>
                                          </td>
                                </tr>
                        </table>
                        <br/>
                        <div style="text-align: center;">
                          <button class="btn btn-success btn-icon-split">
                              <span class="icon text-white-50">
                              <i class="fas fa-check"></i>
                              </span>
                              <span class="text">Save Now</span>
                          </button>
                      </div>

                </div>
                </div>
              </div>
              <br/>

            </form>




      </div>
      <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
        <p style="color: white">Please Wait... </p>
      </ngx-spinner>
