
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <a class="sidebar-brand d-flex align-items-center my-0 mr-md-auto  logo" [routerLink]="['/']">
      <div class="sidebar-brand-icon rotate-n-15">
        <i  style="color: #ff6666;" class="fas fa-laugh-wink fa-3x"></i>
      </div>
      <div class="sidebar-brand-text mx-3"><h3>Activat <sup>2</sup></h3></div>
    </a>
    <nav class="my-2 my-md-0 mr-md-3">

      <a class="p-2 text-dark" [routerLink]="['/']">About</a>
      <a class="p-2 text-dark" [routerLink]="['/booking']">Booking</a>
      <a class="p-2 text-dark" [routerLink]="['/support']">Support</a>
      <a class="p-2 text-dark" [routerLink]="['/pricingplan']">Pricing</a>
    </nav>
    <a class="btn btn-outline-primary" [routerLink]="['/register']">Sign up</a>
  </div>

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4 card-text"><b>Contact Us</b></h1>
    <p class="lead card-text">You need help?we would like to hear from you.</p>
  </div>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">

        <div class="card-body">
          <div class="card-body text-center">
            <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
            <h4 class="text-uppercase mb-5 card-text">Call us</h4>
            <p><b>+27 81 593 4871</b></p>
          </div>
        </div>
      </div>
      <div class="card mb-4 box-shadow">

        <div class="card-body">
          <div class="card-body text-center">
            <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
            <h4 class="text-uppercase mb-5 card-text">email</h4>
            <p><b>support@activat.com , info@activat.com</b></p>
          </div>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <i class="fab fa-facebook-f fa-5x mb-3" aria-hidden="true"></i>
            <h4 class="text-uppercase mb-5 card-text">Social Media</h4>
            <a href="#" ><b>activat</b></a>
        </div>
      </div>
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div >
        <div align="center">
          <img class="mb-2" src="/assets/icons/activat-logo.png" alt="" width="24" height="24">
          <small class="d-block mb-3 card-text">© 2019-2020</small>
        </div>
        <!--
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cool stuff</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      -->
      </div>
    </footer>
  </div>
