

<div class="row">
  <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
  <div class="col-lg-6">
    <div class="p-5">
      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Change Your Password!</h1>
      </div>

      <div class="alert alert-warning" *ngIf="invalidLogin" role="alert">
        <strong>{{ErrorMessage}}</strong>
      </div>
      <form class="user" action="post" [formGroup]="insertForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" type="password" class="form-control form-control-user" formControlName="Password" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Password..." required autofocus>
          <div *ngIf="Password.touched && Password.errors" class="errorMessage">
            <span *ngIf="Password.hasError('required')">Password is required</span>
          </div>
        </div>
        <div class="form-group">
          <input ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" type="password" class="form-control form-control-user" id="exampleInputConfirmPassword" formControlName="ConfirmPassword" placeholder="Confirm Password" required autofocus>
          <div *ngIf="ConfirmPassword.touched && ConfirmPassword.errors" class="errorMessage">
              <span *ngIf="ConfirmPassword.hasError('required')">Password is required</span>
            </div>
        </div>
        <input class="btn btn-primary btn-user btn-block" type="submit" value="Submit" [disabled]="insertForm.invalid"/>

      </form>
      <hr>
      <div class="text-center">
        <a style="color: red;" class="small" [routerLink]="['/support']">Contact Us Here!</a>
      </div>
    </div>
  </div>
</div>
